
*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url(background.jpg);
	background-size: cover;
	font-family: sans-serif;
	font-size: 18px;
}

h1{
	font-size: 40px;
	color: gray;
	margin-top: 20px;
	margin-bottom: 30px;
	font: bold;
	color: black;
}

.label{
	font-size: 17px;
	margin-top: 5px;
	font-weight: normal;
	color: black;
}


.form-control{
	background: transparent;
	border: none;
	border-radius: 0px;
	font-size: 18px;
	
}


.btn-info{
	margin-top: 20px;
	margin-left: 150px;
	width: 220px;
	font-size: 19px;
	border-radius: 1000px;
	background: #404040;
	border:none;
}


.col-md-6{
	background: #e6e6e6;
	height: inherit;
	position: relative;
	top: 40px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6e6;
}

li {
  float: left;
  font-size: 17px;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

.specialLi{
	float: right;
}